In [1]:
import musicbrainzngs
import pandas as pd
musicbrainzngs.set_useragent("mta","0.1",contact="spothana3@gatech.edu")
result = musicbrainzngs.search_artists(country="US", limit=200, offset=0)
artist_df = pd.DataFrame.from_dict(result['artist-list'])
artist_df.head()

,id,type,ext:score,name,sort-name,gender,country,area,begin-area,ipi-list,isni-list,life-span,alias-list,tag-list,end-area,disambiguation
0,70248960-cb53-4ea4-943a-edb18f7d336f,Person,100,Bruce Springsteen,"Springsteen, Bruce",male,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'id': 'bb0af2e9-6ae0-4c4f-b729-c8d6444d6380',...",[00076333277],[0000000121418834],"{'begin': '1949-09-23', 'ended': 'false'}","[{'locale': 'en', 'sort-name': 'Boss, The', 't...","[{'count': '12', 'name': 'rock'}, {'count': '3...",NaN,NaN
1,01809552-4f87-45b0-afff-2c6f0730a3be,Person,95,Elvis Presley,"Presley, Elvis",male,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'id': '157e3c0e-1b68-403d-a515-6e37cb67947b',...","[00056021705, 00056021803, 00058226279]","[0000000121241960, 0000000368638871]","{'begin': '1935-01-08', 'end': '1977-08-16', '...","[{'locale': 'ru', 'sort-name': 'Пресли, Элвис'...","[{'count': '3', 'name': 'rock'}, {'count': '4'...","{'id': 'c2d96f61-75a4-4375-aed5-6aacb0b6326a',...",“The King of Rock and Roll”
2,72c536dc-7137-4477-a521-567eeb840fa8,Person,93,Bob Dylan,"Dylan, Bob",male,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'id': '04e60741-b1ae-4078-80bb-ffe8ae643ea7',...","[00008955074, 00008955172]",[0000000121479733],"{'begin': '1941-05-24', 'ended': 'false'}","[{'locale': 'ru', 'sort-name': 'Дилан, Боб', '...","[{'count': '7', 'name': 'rock'}, {'count': '4'...",NaN,NaN
3,83b9cbe7-9857-49e2-ab8e-b57b01038103,Group,92,Pearl Jam,Pearl Jam,NaN,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'id': '10adc6b5-63bf-4b4e-993e-ed83b05c22fc',...",NaN,[0000000123426109],"{'begin': '1990', 'ended': 'false'}","[{'sort-name': 'Mookie Blaylock', 'alias': 'Mo...","[{'count': '4', 'name': 'rock'}, {'count': '10...",NaN,NaN
4,6faa7ca7-0d99-4a5e-bfa6-1fd5037520c6,Group,92,Grateful Dead,Grateful Dead,NaN,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'id': '865e1aac-afed-44d2-8164-b71468328fcd',...",NaN,[0000000106673175],"{'begin': '1965', 'end': '1995', 'ended': 'true'}","[{'sort-name': 'The Grateful Dead', 'alias': '...","[{'count': '7', 'name': 'rock'}, {'count': '0'...",NaN,NaN

In [2]:

result = musicbrainzngs.search_labels(country="US",limit=10, offset=0)
label_df = pd.DataFrame.from_dict(result['label-list'])
label_df.head()

,id,type,ext:score,name,sort-name,label-code,disambiguation,country,area,life-span,alias-list,tag-list
0,011d1192-6f65-45bd-85c4-0400dd45693e,Imprint,100,Columbia,Columbia,162,"Sony Music, worldwide except JP; formerly owne...",US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'begin': '1887', 'ended': 'false'}","[{'sort-name': 'columbia', 'alias': 'columbia'...","[{'count': '1', 'name': 'rock'}, {'count': '1'..."
1,abea2d3e-eabf-4480-ab24-9382dd642c73,Imprint,94,Capitol Records,Capitol Records,148,"imprint of Capitol Records, Inc.",US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'begin': '1942-04-09', 'ended': 'false'}","[{'sort-name': 'Capitol Catalog Mkt (C92)', 'a...","[{'count': '2', 'name': 'electronic'}, {'count..."
2,1ca5ed29-e00b-4ea5-b817-0bcca0e04946,Imprint,93,RCA,RCA,316,RCA Records: simple ‘RCA’ or ‘RCA’ with lightn...,US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'begin': '1901-10-03', 'ended': 'false'}","[{'sort-name': 'The RCA Records Label', 'alias...","[{'count': '2', 'name': 'rock'}, {'count': '1'..."
3,8f638ddb-131a-4cc3-b3d4-7ebdac201b55,Imprint,93,Epic,Epic,199,"US label founded by CBS in 1953, now owned by ...",US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'begin': '1953', 'ended': 'false'}","[{'locale': 'ja_JP', 'sort-name': 'Epic Record...","[{'count': '1', 'name': 'américain'}, {'count'..."
4,995428e7-81b6-41dd-bd38-5a7a0ece8ad6,Imprint,93,Mercury Records,Mercury Records,268,"or just “Mercury.” A UMG imprint, do not use i...",US,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'begin': '1945', 'ended': 'false'}",[{'sort-name': 'Universal Music Division Mercu...,"[{'count': '0', 'name': 'pop'}, {'count': '0',..."

In [3]:
result = musicbrainzngs.search_recordings(country="US",limit=10, offset=0)
recording_df = pd.DataFrame.from_dict(result['recording-list'])
recording_df.head()

,id,ext:score,title,length,disambiguation,artist-credit,release-list,artist-credit-phrase,tag-list
0,e268f6f6-7df9-4f6f-9585-fad59a85a7df,100,Buzz Me,238000,"live, 1998-08-15: Metro, Chicago, IL, USA","[{'name': 'Mighty Blue Kings', 'artist': {'id'...",[{'id': '87c88b9d-963d-4f53-ad05-944a691ad8f4'...,Mighty Blue Kings,NaN
1,50b9e3a7-04f5-4ba0-95ed-36df05c21462,100,Grinnin' Like a Chessy Cat,298133,"live, 1998-08-15: Metro, Chicago, IL, USA","[{'name': 'Mighty Blue Kings', 'artist': {'id'...",[{'id': '87c88b9d-963d-4f53-ad05-944a691ad8f4'...,Mighty Blue Kings,NaN
2,897536c5-a79d-4ce3-8340-5151ca6f661b,100,Meet Me in Uptown,168533,"live, 1998-08-15: Metro, Chicago, IL, USA","[{'name': 'Mighty Blue Kings', 'artist': {'id'...",[{'id': '87c88b9d-963d-4f53-ad05-944a691ad8f4'...,Mighty Blue Kings,NaN
3,ea7de0cf-93a5-4efc-aa22-9fab49e24581,100,Rag Mop,298773,"live, 1998-08-15: Metro, Chicago, IL, USA","[{'name': 'Mighty Blue Kings', 'artist': {'id'...",[{'id': '87c88b9d-963d-4f53-ad05-944a691ad8f4'...,Mighty Blue Kings,NaN
4,1dbf2cc5-ee4e-4c20-a0bd-bc06ee0783e3,100,My Wildest Dreams Grow Wilder Every Day,184973,NaN,"[{'name': 'The Flatlanders', 'artist': {'id': ...",[{'id': '34aec3dc-a788-47cc-b9bf-02c8c11b5150'...,The Flatlanders,"[{'count': '2', 'name': 'country'}, {'count': ..."